<header class="hero-unit" id="banner">
  <div class="container">
    <h1>{{$ctrl.message}}</h1>
    <p class="lead">Some random paragraph here</p>
  </div>
</header>


<div class="container">
  <h1>{{$ctrl.messageJSON.greeting}}</h1>
  <p class="lead">from  {{$ctrl.messageJSON.country}}</p>
</div>


<div class="container">
  <label> Your name </label>
  <input type="text" ng-model ="$ctrl.username"></input>
  <button type="button" ng-click ="$ctrl.sendGreeting()">Send</button>

</div>

<div class="container" ng-show= "$ctrl.greetingStatus">
  <h1> {{$ctrl.greetingStatus.status}} </h1>
</div>


<div class="container" ng-show= "$ctrl.errorMessage">
  <h1> {{$ctrl.errorMessage}} </h1>
</div>
